{{>partials/header}}

<body>
    <header>
        <section class=cabecalho>
            <a href="javascript:void(0)" onClick="history.go(-1); return false;"><img class="button" src="_images/seta-esquerda.png" title="Voltar" alt="Logo não disponível no momento"></a>
            <h1>Projetos</h1>
           <a href="/novoProjeto"><img class="button" src="_images/adicionar.png" title="Novo Projeto" alt="Logo não disponível no momento"></a>
        </section>
        <section class="subtitulo">
            <h2>Meu local de origem</h2>
        </section>

        {{#listMeuLocal}}
            <section class="itens">
                <img class="item-img" src="_images/{{imagemProjeto}}" alt="imagem não encontrada">
                <h3>{{tituloProjeto}}</h3>
            </section>
        {{/listMeuLocal}}
        <section class="subtitulo">
            <h2>Outros locais</h2>
        </section>
        <section>
            <label for="outroLocal" class="form-label">Escolha o local desejado</label>
            <input class="form-control" list="outrosLocais" name="outroLocal" id="outroLocal">
            <datalist id="outrosLocais">
                <option value="Belo Horizonte">
                <option value="Campinas">
                <option value="Jundiaí">
                <option value="Rio de Janeiro">
                <option value="São Paulo">
            </datalist>
        </section>

        {{#listOutrosLocais}}
            <section class="itens">
                <img class="item-img" src="_images/{{imagemProjeto}}" alt="imagem não encontrada">
                <h3>{{tituloProjeto}}</h3>
            </section>      
        {{/listOutrosLocais}}

</body>

</html>
