{{>partials/header}}

<body>
    <header>
        <form>
            <section class="home">
                <img src="_images/logoAuth.png" alt="Logo não disponível no momento">
                <h1>Prosperidade</h1>
                <div class="form-group">
                    <div class="col-md-12 offset-md-3">
                        <input type="text" class="form-control" id="staticEmail" placeholder="Usuário">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 offset-md-3">
                        <input type="password" class="form-control" id="inputPassword"  placeholder="Senha">
                    </div>
                </div>
                    <button type="button" class="btn btn-primary btn-md">Acessar</button>
                    <a href="/cadastro">Primeiro acesso ? Toque aqui</a>
            </section>
        </form>

</body>

</html>
