{{>partials/header}}

<body>
    <header>
        {{#dadosProjeto}}
        <section class=cabecalho>
            <a href="javascript:void(0)" onClick="history.go(-1); return false;"><img class="button" src="../_images/seta-esquerda.png" title="Voltar" alt="Logo não disponível no momento"></a>
            <h1>{{tituloProjeto}}</h1>
            <img class="button" src="../_images/dummyBackgound.png" alt="imagem não encontrada">
        </section>
        <section class="imgMeuProjeto">
             <img src="../_images/{{imagemProjeto}}" alt="Logo não disponível no momento">
        </section>
        <div class="corpoFrame">
            <nav class="navTabs">
                <ul>
                    <li>
                        <input type="radio" name="tabs" class="rdTabs" id="tab1" checked>
                        <label for="tab1">Descrição</label>
                        <div class="tabContend">
                            <article>
                                {{descricaoProjeto}}
                            </article>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="tabs" class="rdTabs" id="tab2">
                        <label for="tab2">Conversa</label>
                        <div class="tabContend">
                            <article>
                                Conteúdo article tab2
                            </article>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="tabs" class="rdTabs" id="tab3">
                        <label for="tab3">Membros</label>
                        <div class="tabContend">
                            <article>
                                Conteúdo article tab3
                            </article>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        {{/dadosProjeto}}
    </header>
</body>
