{{>partials/header}}
<body>
    <header>
        <section class=cabecalho>
            <a href="/logon"><img class="button" src="_images/saida.png" title="Saida" alt="Logo não disponível no momento"></a>
            <h1>Meus Projetos</h1>
            <a href="/listaProjetos"><img class="button" src="_images/adicionar.png" title="Adicionar Projetos" alt="Logo não disponível no momento"></a>
        </section>

        {{#list}}
            <section class="itens">
                <img class="item-img" src="_images/{{ imagemProjeto }}" alt="imagem não encontrada">
                <h3>{{tituloProjeto}}</h3>
            </section>
        {{/list}}

</body>

</html>
