{{>partials/header}}
<body>
    <header>
        <section class=cabecalho>
            <img class="button" src="_images/saida.png" alt="Logo não disponível no momento">
            <h1>Meus Projetos</h1>
            <img class="button" src="_images/adicionar.png" alt="Logo não disponível no momento">
        </section>
        <section class="itens">
            <img class="item-img" src="_images/pracaComunitaria.png" alt="imagem não encontrada">
            <h3>Praça Comunitária</h3>
        </section>
        <section class="itens">
            <img class="item-img" src="_images/cidade_solidaria.jpeg" alt="imagem não encontrada">
            <h3>Voluntários União</h3>
        </section>        
        <section class="itens">
            <img class="item-img" src="_images/hortaComunitaria.jpeg" alt="imagem não encontrada">
            <h3>Horta em Comunidade</h3>
        </section>        


</body>

</html>
